// An example Secrets.h File.

#pragma once
#ifndef SECRETS_H
   #define SECRETS_H

   #define EMONCMS_MY_APIKEY        "FR-SomeAPIKey"
   #define EMONCMS_TESTING_APIKEY   "FR-SomeAPIKey"
   #define EMONCMS_LPSSPL_APIKEY    "FR-SomeOtherAPIKey"
   #define EMONCMS_PWRGENIE_APIKEY  "FR-AnotherAPIKey"
   #define EMONCMS_JKBMS_APIKEY     "FR-APIKey2"

   #define EMONCMS_SERVER           "www.some-server.somewhere"

   #define DEFAULT_AP_PASSWORD   "pwrgenie"
   #define DEFAULT_SSID          "My_Default_Wifi"
   #define DEFAULT_PW            "12345678"
#endif