// An example Secrets.h File.

#pragma once
#ifndef SECRETS_H
   #define SECRETS_H

   #define EMONCMS_MY_APIKEY        "FR-SomeAPIKey"
   #define EMONCMS_TESTING_APIKEY   "FR-SomeAPIKey"
   #define EMONCMS_LPSSPL_APIKEY    "FR-SomeOtherAPIKey"
   #define EMONCMS_PWRGENIE_APIKEY  "FR-AnotherAPIKey"
   #define EMONCMS_JKBMS_APIKEY     "FR-APIKey2"

   #define EMONCMS_SERVER           "www.some-server.somewhere"

   #ifndef DEFAULT_AP_PASSWORD
      #define DEFAULT_AP_PASSWORD   "pwrgenie"
   #endif
   #ifndef DEFAULT_SSID
      #define DEFAULT_SSID          "My_Default_Wifi"
   #endif
   #ifndef DEFAULT_PW
      #define DEFAULT_PW            "12345678"
   #endif
#endif